<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Data\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="email@email.com"/>
		<add key="senderDisplayName" value="Sender Name"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=.;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>